@use 'reset';
@use 'variables';

body {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-color: variables.$background-color;
}

main {
display: flex;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

  .ch-sheet {
    min-width: 600px;
    max-width: 48%;
    height: 500px;
    margin: auto 2.5rem auto 0;
    padding: 10px;
    border: variables.$border;
    border-radius: variables.$border-radius;

    img {
      width: 300px;
      display: block;
      margin: 0 auto;
    }

    .text {
      min-width: 600px;
      max-width: 48%;
      height: 25%;  
      border-top: variables.$border;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  form {
    min-width: 600px;
    max-width: 48%;
    height: 500px;
    margin: auto 0 auto 2.5rem;
    padding: 2rem;
    border: variables.$border;
    border-radius: variables.$border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input,
    select {
      width: 50%;
    }
  }
}

